 .container{
    width:auto;
    height: 385px;
    border:1px solid rgb(64, 14, 245);
    
}
.box{
    width: 100px;
    height: 100px;
    border:1px solid rgb(0, 0, 0);
}
.box-1{
    background-color : rgb(55, 153, 133);
    top:0px;
    width:auto;

}
.box-2{
    background-color: rgb(194, 19, 19);
     top:20px;
     width: 400px;
     height: 160px;
     /* left: 20px; */
}
.box-3{
    background-color: rgb(148, 170, 123);
    top:40px;
     width: 200px;
     height: 120px;
     left: 40px;

}
.box-4{
    background-color: rgb(136, 167, 40);
    position: relative;
    width: 200px;
    height: 120px;
    left:200px;
    bottom:122px;
}
.box-5{
    background-color: rgb(215, 110, 71);
    position: relative;
    width: 186px;
    height: 282px;
    left:400px;
    bottom:405px;

}  

