.container{
    width:90%;
    height: 600px;
    border:1px solid rgb(64, 14, 245);
    display: flex;
    gap:10px;
    flex-direction: row;
    justify-content: space-around;
    /* justify-content: flex-start; */
    /* align-items:flex-start; */
    align-items: center;
    flex-wrap: wrap;
    
}
.box{
    width: 100px;
    height: 100px;
    border:1px solid rgb(0, 0, 0);
    background-color: red;
    color:white;
    font-size: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
}