.container {
    width: 100px;
    height: 100px;
    background-color: red;
    /* "move" added to the shorthand */
    animation: move 2s ease infinite ;
}

@keyframes move {
    0% {
        transform: translate(0px);
    }
    25% {
        transform: translate(600px);
    }
    50%{
        transform: translate(600px,600px);
    }
    75%{
        transform: translate(   w0px,600px);
    }
}